body {
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	margin: 0;
}

div, p, ul, li, button, span, a {
	box-sizing: border-box;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
}

.text-column {
	width: 40%;
	padding-top: 8vh;
	padding-left: 10vh;
}

.image-column {
	width: 60%;
	background: url('../img/girl.jpg') no-repeat left top;
}

.tag {
	font-size: 18px;
	color: #a0a0a0
}

/*Делает палочку с макета*/ 
.offer:after{
	content: '';
	display: block;
	height: 7px;
	width: 103px;
	background: #000;
	margin-left: -30px;
	margin-top: 2vh;

}

.offer {
	font-size: 70px;
	font-weight: 900;
}

.offer span {
	font-size: 50px;
	color: #8e8e8e;
	display: block;
	margin-top: 20vh;
}

.intro {
	font-size: 15px;
	line-height: 1.6em;
	margin-left: 35px;
	width: 55vh;
	margin-top: 5vh;
}

.btn {
	font-size: 18px;
	font-weight: 900;
	width: 240px;
	border: 2px solid #000;
	padding: 15px 0;
	background: #fff;
	margin-left: 35px;
	cursor: pointer;
	letter-spacing: 0.08em;
	margin-top: 4vh;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #000;
	color: #fff;
}

.triggers {
	background: #000;
	color: #fff;
	padding: 200px 0;
	display: flex;
	justify-content: space-around;
}

.triggers-item {
	text-align: center;
	padding: 0 20px;
}

.triggers-letter {
	margin-bottom: 15px;
	font-size: 58px;
	font-weight: 900;
}

.triggers-title {
	font-size: 24px;
	font-weight: 900;
}

.triggers-text {
	font-size: 15px;
	line-height: 1.6em;
}